<ion-header class="ion-no-border">
  <ion-toolbar >
    <ion-buttons slot="end">
      <ion-button routerLink="/register">Sign up</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
  <div id="header">
    <h1>Login</h1>
    <img src="../../../assets/img/undraw_authentication_fsn5.svg" />
  </div>

  <form (ngSubmit)="login( forma )" #forma="ngForm" id="form">
    <ion-item >
      <ion-icon slot="start" name="person-outline"></ion-icon>
      <ion-label position="floating">Ingrese Correo o Usuario <ion-text color="danger">*</ion-text></ion-label>
      <ion-input required name="useremail" type="text" [(ngModel)]="useremail"></ion-input>
    </ion-item>
    
    <ion-item >
      <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
      <ion-label position="floating">Ingrese Contraseña </ion-label>
      <ion-input required name="pass" type="password" [(ngModel)]="pass"></ion-input>
    </ion-item>

    <ion-button  color="secondary" type="submit" [disabled]="forma.invalid">
      Ingresar
    </ion-button>
  </form>

</ion-content>