ion-content{ 
	font-family:Montserrat !important;
	font-size:  5px;
  }
.center {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    
  }
.card{
  margin-top: 5px !important;
  margin-bottom:  0px !important;
  margin-right: 5px;
  margin-left: 5px;
  
}